.btn {
        color: whitesmoke;
        background-color: $mainBlue;
        border: none;
        text-decoration: none;
        padding: .7rem 1rem;
        display: inline-block;

        &--orange {
                background-color: $mainOrange;
        }

        &--large {
                font-size: 1.25rem;
                padding: .9rem 1.8rem;
        }
}

