.large-hero {
    position: relative;

    &__bgimg {
        min-width: 100%;
        height: auto;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        text-align: center;
        width: 100%;
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 4.2rem;
        margin: 0;
    }

    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.8rem;
        margin: 0;
    }

    &__description {
        color: white;
        font-size: 1.7rem;
        font-weight: 300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        max-width: 29rem;
        margin-left: auto;
        margin-right: auto;
    }
}





